-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script
-- create a new database called Skippy then run this script


USE [Skippy]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 05/02/2016 14:56:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([Id], [Name], [DateOfBirth]) VALUES (1, N'Franklin', CAST(N'1988-12-22 00:00:00.000' AS DateTime))
INSERT [dbo].[Person] ([Id], [Name], [DateOfBirth]) VALUES (2, N'Cruz', CAST(N'1989-06-25 00:00:00.000' AS DateTime))
INSERT [dbo].[Person] ([Id], [Name], [DateOfBirth]) VALUES (3, N'King', CAST(N'1981-02-11 00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Person] OFF
